
@media screen and (max-width : 1250px) {
    .bttn{
        margin-top: 21rem;
    }
    .initials img
    {
        margin-left: -12rem;
    }
    html{
        font-size: 70%;
    }
    header{
        position: relative;
    }
    .initials{
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
     .linksss{
        flex-direction: row;
        margin-left: 0;
        padding-top: 0;
        justify-content: space-around;
        width: 80%;
    } 
    
    .skills{
        height: auto;
        margin-left: 7rem;
    }
    .skill-percent{
        width: 80%;
        margin-left: 0;
    }
    .projects{
        flex-direction: column;
    }
    .projects img{
        margin-left: -9rem;
    }
    .container-fluid{
        align-items: right;
        display: flex;
        flex-direction: row;
    }
    .ab-text
    {
        margin-left: 5rem;
    }
    .Education-text
    {
        margin-left: 4.5rem;
    }
    .ab-head
    {
        padding-left: 0;
        margin-left: 12rem;
    }
    .p1{
        margin-left: -2.5rem;
    }
    .p2 h1
    {
        font-size: 2.5rem;
        margin-left: -9.5rem;
    }
    .dynamic-text
    {
        margin-left: -4.5rem;
    }
    /* .ab-hea{
        padding-left: 0;
        margin-left: 9rem;
    } */
    .ab-he{
        padding-left: 0;
        margin-left: 5rem;
    }
    /* .ab-h{
        padding-left: 0;
        margin-left: 7rem;
    } */
    .projects{
        padding-left:0;
        gap:20px;
    }
    .content{
        margin-left: 12rem;
    }
    .projects-div{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }
    .projects-div p{
        margin-left: 50px;
    }
}
@media screen and (max-width : 800px){
    .inner{
        flex-direction: column;
    }
}
